<div class="headline headline-with-chevron">
  <a href="/admin/staff">
    <span class="double-chevron">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/></svg>
    </span>
  </a>
  <span class="title">
  {{title}}
  </span>
</div>
<form id="saveStaffForm" method="POST" action="/admin/staff/save-staff">

  {{#if user}}
    <input type="hidden" name="id" value="{{user.id}}">
  {{/if}}

  <div class="manageStaffInputContainer">
    <label for="firstName">First Name</label>
    <input class="activeInputField" type="text" id="firstName" name="firstName" placeholder="First Name" required value="{{user.firstName}}">
  </div>

  <div class="manageStaffInputContainer">
    <label for="lastName">Last Name</label>
    <input class="activeInputField" type="text" id="lastName" name="lastName" placeholder="Last Name" required value="{{user.lastName}}">
  </div>

  <div class="manageStaffInputContainer">
    <label for="email">Email Address</label>
    <input class="activeInputField" type="email" id="email" name="email" placeholder="Email Address" required value="{{user.email}}">
  </div>

    {{#if stations}}
    <p class="title stationSubTitle">Stations</p>
    <div class="stations-box">
        <ul>
        {{#each stations}}
            <li>
              <span>{{this.name}}</span>
              <span>{{this.address}}</span>
            </li>
        {{/each}}
        </ul>
    </div>
    {{/if}}



  {{#if successMessage}}
    <p>{{successMessage}}</p>
  {{/if}}

</form>

<div>
  {{#if user}}
    <a class="button1" href="/admin/staff/admin-add-staff-stations/{{user.id}}">Manage stations</a>
    <form id="deleteStaffForm" method="POST" action="/admin/staff/{{user.id}}/delete" style="display:inline;">
    </form>
  {{/if}}
</div>
<button class="button2 saveStaffMargin" form="saveStaffForm" type="submit" name="action" value="saveChanges">Save changes</button>
<button class="deleteStaffButton" form="deleteStaffForm" type="submit">Delete staff</button>

