<nav class="admin-add-staff-nav">
  <a href="/admin/staff">Back to Staff List</a>
</nav>

{{! Add "Edit Field Icon" to input fields }}
<div class="admin-add-staff-form">
  <input
    type="text"
    id="staff-firstName"
    name="staff-firstName"
    placeholder="{{inputFirstName}}"
    required
  />
  <input
    type="text"
    id="staff-lastName"
    name="staff-lastName"
    placeholder="{{inputLastName}}"
    required
  />
  <input
    type="text"
    id="staff-email"
    name="staff-email"
    placeholder="{{inputEmail}}"
    required
  />
</div>

<div class="admin-add-staff-buttons">
  <button>{{addToButton}}</button>
  <button>{{saveButton}}</button>
</div>