<<<<<<< HEAD
<div class="headline"><span>&lt;&lt;</span>{{title}}</div>
<div>
    <input class="searchField" type="search" placeholder="Search...">
</div>
<div>
  {{#each stations}}
    <div class="stationCard box">
      <a href="/admin/stations/info/{{this.id}}">
        <img src="/img/gas-station-placeholder.avif" class="stationPlaceholderImg">
        <div class="stationCardOverlay">
            <div class="lowLineHeight centerText">
              <span class="subHeadline">{{this.name}}</span> <br>               
              <span class="paragraph">{{this.address}}</span>
            </div>
            <div class="arrow">→</div>
        </div>  
      </a>
    </div>
  {{/each}}

=======
<div>
    <a><button class="button1">Cancel</button></a>
    <a><button class="button2">Confirm</button></a>
</div>
<div>
    <input type="search" placeholder="Search...">
</div>
<div>
    {{!-- lav for loop --}}
    <a>
        <div class="stationCard box">
            <img class="stationPlaceholderImg">
            <div>
                <p class="subHeadline">{{this.adress}}</p>
            </div>
        </div>
    </a>
>>>>>>> 2c7c20ecccc9c6fb4514e7d1615a98d8589ead59
</div>