<div><a href="/admin/stations">&lt;&lt;</a><span class="headline">{{station.name}}</span></div>
<br>
<div>
  <div><b>Address</b></div>
  <div>{{station.address}}</div>
</div>
<br>
<div>
  <div><b>Contact information</b></div>
  <div>Phone: +45 {{station.phone}}</div>
  <div>Mail: {{station.email}}</div>
</div>
<br>
<div class="topBotBorderBox checkboxCourt">
  <input type="checkbox" id="cleanForecourt" value="cleanForecourt">
  <label for="cleanForecourt">Clean forecourt</label>
</div>

<br>
<div class="headline">Staff member</div>
<br>
{{#if station.user}}
  <div class="topBotBorderBox">{{station.user.name}}</div>
{{else}}
  <div>No staff member assigned</div>
{{/if}}
<br>
<a href="/admin/stations/manage?stationId={{station.id}}&userId={{station.user.id}}" class="button1">
  Manage staff
</a>

