<div><a href="/admin/stations">&lt;&lt;</a>{{station.name}}</div>

<div>
  <div>Address</div>
  <div>{{station.address}}</div>
</div>

<div>
  <div>Contact information</div>
  <div>Phone: +45 {{staion.phone}}</div>
  <div>Mail: {{station.email}}</div>
</div>

<div>
  <input type="checkbox" value="cleanForecourt">
  <label for="cleanForecourt">Clean forecourt</label>
</div>

<div>Staff member</div>
{{#if station.user}}
  <div>{{station.user.name}}</div>
{{else}}
  <div>No staff member assigned</div>
{{/if}}

<a href="/admin/stations/manage?stationId={{station.id}}&userId={{station.user.id}}" class="button1">
  Manage staff
</a>

