{{> nav title=task.station.name backHref="/staff/history" }}
<div class="gap">
    <div>
        <p class="subHeadline">{{task.station.address}}</p>
        <p class="subHeadline">{{date}}</p>
    </div>

    <div class="taskDataContainer">
        <h2 class="subHeadline">Images uploaded</h2>
        {{#each task.images}}
            <img src="{{this.dataUrl}}" alt="{{this.file_path}}">
        {{/each}}
    </div>

    <div class="taskDataContainer">
        <h2 class="subHeadline">Products uploaded</h2>
        {{#each task.taskProducts}}
            <p class="paragraph">{{this.product.name}} - Amount: {{this.amount}} {{this.product.measurement.measurement_symbol}}</p>
        {{/each}}
    </div>
</div>  