{{> nav title=station.name backHref="/staff/stations"}}
<div class="gap">   
    <div>
        <p class="subHeadline">{{station.address}}</p>
        <p class="subHeadline">{{this.date}}</p>
    </div>

    <form action="/staff/stations" method="post" enctype="multipart/form-data" class="gap">
        
        <!-- hidden fields for station_id and date -->
        <input type="hidden" name="station_id" value="{{station.id}}">
        <input type="hidden" name="date" value="{{this.date}}">
    
        <div class="imageUploadContainer">
            <span class="subHeadline">Carwash</span>
            <label for="image-carwash" class="customImageUpload">
                <span class="button1">Select images</span>
            </label>
            <input type="file" id="image-carwash" name="image" accept="image/*" multiple class="imageInput">
            <span class="paragraph fileName" id="filename-carwash">No files selected</span>
        </div>

        {{#if station.cleaning_of_forecourt}}
            <div class="imageUploadContainer">
                <span class="subHeadline">Forecourt</span>
                <label for="image-forcourt" class="customImageUpload">
                    <span class="button1">Select images</span>
                </label>
                <input type="file" id="image-forcourt" name="image" accept="image/*" multiple class="imageInput">
                <span class="paragraph fileName" id="filename-forcourt">No files selected</span>
            </div>
        {{/if}}
        <div>
            <button type="button" class="accordionHeader">
                <p class="subHeadline">Products</p>
                <i></i>
            </button>
            <div class="accordionContent">
                {{#each products}}
                    <div class="accordionProduct"> 
                        <p class="subHeadline">{{this.name}}</p>
                        <div>
                            <input type="number" name="products[{{this.id}}]" placeholder="Amount" min="0">
                            <p class="paragraph">{{this.[measurement.measurement_symbol]}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <button type="submit" class="button2">Upload</button>

    </form>
</div>